on boot
    # KCAL
    chown system system /sys/module/msm_drm/parameters/kcal_red
    chown system system /sys/module/msm_drm/parameters/kcal_green
    chown system system /sys/module/msm_drm/parameters/kcal_blue
    chown system system /sys/module/msm_drm/parameters/kcal_sat
    chown system system /sys/module/msm_drm/parameters/kcal_hue
    chown system system /sys/module/msm_drm/parameters/kcal_cont
    chown system system /sys/module/msm_drm/parameters/kcal_val

    chmod 0660 /sys/module/msm_drm/parameters/kcal_red
    chmod 0660 /sys/module/msm_drm/parameters/kcal_green
    chmod 0660 /sys/module/msm_drm/parameters/kcal_blue
    chmod 0660 /sys/module/msm_drm/parameters/kcal_sat
    chmod 0660 /sys/module/msm_drm/parameters/kcal_hue
    chmod 0660 /sys/module/msm_drm/parameters/kcal_cont
    chmod 0660 /sys/module/msm_drm/parameters/kcal_val

    # Vibrator permissions
    chown system system /sys/class/leds/vibrator/vmax_mv
    chown system system /sys/class/leds/vibrator/effect_samp
    chmod 0660 /sys/class/leds/vibrator/vmax_mv
    chmod 0660 /sys/class/leds/vibrator/effect_samp

# Balance (default profile)
on property:persist.performance.profile=0
    setprop "persist.cpu.performance.profile" "balance"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2092000

# Performance
on property:persist.performance.profile=1
    setprop "persist.cpu.performance.profile" "performance"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200

# Battery
on property:persist.performance.profile=3
    setprop "persist.cpu.performance.profile" "battery"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1228800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1333000

# Gaming
on property:persist.performance.profile=2
    setprop "persist.cpu.performance.profile" "gaming"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200

# Balance (default profile)
on property:persist.performance.profile=4
    setprop "persist.cpu.performance.profile" "balance2"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1766400

# Balance Thermal
on property:persist.thermal.profile=0
    setprop vendor.thermal.vr_mode -novr

# Gaming Thermal
on property:persist.thermal.profile=1
    setprop vendor.thermal.vr_mode -gaming
